<header class="header">
	    
    <div class="top-bar theme-bg-primary-darken">
        
        <div class="container-fluid">
        
            <nav class="navbar navbar-expand-lg navbar-dark position-relative">
                
                
                <ul class="social-list list-inline mb-0">
                    <li class="list-inline-item"><a class="text-white" href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="text-white" href="#"><i class="fab fa-gitlab fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="text-white" href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                </ul><!--//social-list-->
                

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse text-uppercase" id="navigation">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item <% if @url == 'home'%> active <% end %> mr-lg-3">
                            <a class="nav-link" href="<%= root_path %>">Acceuil</a>
                        </li>
                        <li class="nav-item <% if @url == 'project'%> active <% end %> mr-lg-3">
                            <a class="nav-link" href="<%= project_index_path %>">Projets</a>
                        </li>
                        <li class="nav-item <% if @url == 'resume'%> active <% end %> mr-lg-3">
                            <a class="nav-link" href="<%= resume_index_path %>">CV</a>
                        </li>
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
   
                    </ul>
                    <span id="slide-line"></span>
                </div>
                
                
                
            </nav>
        
        </div><!--//container-->
        
    </div><!--//top-bar-->
</header><!--//header-->