<%= render 'shared/portfolio_nav' %>
<%= render 'layouts/about'%>
<%= render 'layouts/skill_overview'%>
<%= render 'layouts/project_features'%>
<%= render 'shared/cta'%>
<%= render 'shared/footer'%>



