<% content_for :title do %>
  Be Anjara's Resume
<% end %>
<%= render 'shared/portfolio_nav' %>
<div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
    <div class="container position-relative">
        <h2 class="page-heading mb-3">Curriculum Vitae</h2>
        <a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto" href="<%= resume_download_path %>" target="_blank"><i class="fas fa-download mr-2"></i>Téléchargez mon CV</a>
    </div><!--//container-->
</div><!--//header-intro-->
        

     
<article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
        <header class="resume-header pt-4 pt-md-0">
            <div class="media flex-column flex-md-row">
                <img class="mr-3 img-fluid picture mx-auto" src="<%= image_url('my_profil.jpg')%>" alt="">
                <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                    <div class="primary-info">
                        <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase" style="font-size:20px;"><%= @user.lastname %> <%= @user.firstname %></h1>
                        <div class="title mb-3">Développeur Full Stack Ruby/PHP</div>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i><%= @user.email %></a></li>
                            <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i><%= @user.phone %></a></li>
                        </ul>
                    </div><!--//primary-info-->
                    <div class="secondary-info ml-md-auto mt-2">
                        <ul class="resume-social list-unstyled">
                            <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/beanjarahoussen</a></li>
                            <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github/BeAnjara</a></li>
                            <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-gitlab fa-fw"></i></span>gitlab/Beanjara</a></li>
                            <li><a href="#"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>https://beanjaraportfolio.herokuapp.com</a></li>
                        </ul>
                    </div><!--//secondary-info-->
                    
                </div><!--//media-body-->
            </div><!--//media-->
        </header>
    </div>
</article>
<div class="resume-body p-5">
    <section class="resume-section summary-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"> A propos de moi</h2>
        <div class="resume-section-content">
            <p class="mb-0">
               Je suis un développeur junior full stack spécialisé en Ruby. J’ai déjà participé à l’élaboration d’un projet de création de site web avec le framework Ruby on Rails. J’ai été apprentis développeur du Bootcamp intensive The Hacking Project.
                <br> Mes compétences en langage Ruby et le framework Ruby on Rails a été confirmé par la réalisation d’un site de vente et de location de bien immobiliers (Hoomies) .
                <br>Ensuite, je tente ma reconversion en PHP, en développant un projet personnel intitulé Vegefoods Mada, en utilisant le framework Symfony 4 et React JS.
                <br> Actuellement, à la recherche d’une continuité quant à ma formation, je suis à la recherche d’un stage en tant qu'intégrateur web junior ou développeur web junior (PHP/Symfony, Ruby/Rails). 

            </p>
        </div>
    </section><!--//summary-section-->
        <div class="row">
            <div class="col-lg-9">
                <section class="resume-section experience-section mb-5">
                    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"> Formation professionnel </h2>
                    <div class="resume-section-content">
                        <div class="resume-timeline position-relative">
                            <article class="resume-timeline-item position-relative pb-5">
                                
                                <div class="resume-timeline-item-header mb-2">
                                    <div class="d-flex flex-column flex-md-row">
                                        <h3 class="resume-position-title font-weight-bold mb-1"> BootCamp The Hacking Project</h3>
                                    </div><!--//row-->
                                    <div class="resume-position-time"> Octobre 2019 - Janvier 2020 </div>
                                </div><!--//resume-timeline-item-header-->

                            </article><!--//resume-timeline-item-->
                            
                            <article class="resume-timeline-item position-relative pb-5">
                                
                                <div class="resume-timeline-item-header mb-2">
                                    <div class="d-flex flex-column flex-md-row">
                                        <h3 class="resume-position-title font-weight-bold mb-1"> Master II en cours système électronique et informatique </h3>
                                    </div><!--//row-->
                                    <div class="resume-position-time">2018 - 2019</div>
                                </div><!--//resume-timeline-item-header-->
                                <div class="resume-timeline-item-desc">
                                    <p>Université d'Antananarivo, Faculté de sciences, Domaine Physique et Application.</p>
                                </div><!--//resume-timeline-item-desc-->
                            </article><!--//resume-timeline-item-->
                            
                            <article class="resume-timeline-item position-relative pb-5">
                                
                                <div class="resume-timeline-item-header mb-2">
                                    <div class="d-flex flex-column flex-md-row">
                                        <h3 class="resume-position-title font-weight-bold mb-1">Master I en système électronique et informatique</h3>
                                    </div><!--//row-->
                                    <div class="resume-position-time">2017 - 2018</div>
                                </div><!--//resume-timeline-item-header-->
                                <div class="resume-timeline-item-desc">
                                    <p>Université d'Antananarivo, Faculté de sciences, Domaine Physique et Application.</p>
                                </div><!--//resume-timeline-item-desc-->

                            </article><!--//resume-timeline-item-->
                            
                            <article class="resume-timeline-item position-relative">
                                
                                <div class="resume-timeline-item-header mb-2">
                                    <div class="d-flex flex-column flex-md-row">
                                        <h3 class="resume-position-title font-weight-bold mb-1"> Licence en Ingénierie en physique de signaux et systèmes</h3>
                                    </div><!--//row-->
                                    <div class="resume-position-time">2013 - 2016 </div>
                                </div><!--//resume-timeline-item-header-->
                                <div class="resume-timeline-item-desc">
                                    <p>Université d'Antananarivo, Faculté de sciences, Domaine Physique et Application.</p>
                                </div><!--//resume-timeline-item-desc-->
                            </article><!--//resume-timeline-item-->
                            
                            <article class="resume-timeline-item position-relative">
                                
                                <div class="resume-timeline-item-header mb-2">
                                    <div class="d-flex flex-column flex-md-row">
                                        <h3 class="resume-position-title font-weight-bold mb-1"> Bacc Série C (Mention Assez-bien)</h3>
                                    </div><!--//row-->
                                    <div class="resume-position-time">2012 </div>
                                </div><!--//resume-timeline-item-header-->
                                <div class="resume-timeline-item-desc">
                                    <p> Lycée Mixte Hell-Ville Nosy-Be </p>
                                </div><!--//resume-timeline-item-desc-->
                            </article><!--//resume-timeline-item-->
                        </div><!--//resume-timeline-->
                        
                        
                        
                        
                        
                        
                    </div>
                </section><!--//experience-section-->
            </div>
            <div class="col-lg-3">
                <section class="resume-section skills-section mb-5">
                    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"> Téchnologies </h2>
                    <div class="resume-section-content">
                        <div class="resume-skill-item">
                            <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <div class="resume-skill-name">Bootstrap</div>
                                    <div class="progress resume-progress">
                                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 92%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="resume-skill-name">HTML5/CSS3</div>
                                    <div class="progress resume-progress">
                                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="resume-skill-name">JavaScript/JQuery</div>
                                    <div class="progress resume-progress">
                                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                
                                <li class="mb-2">
                                    <div class="resume-skill-name">SASS</div>
                                    <div class="progress resume-progress">
                                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="resume-skill-name">AngularJs</div>
                                    <div class="progress resume-progress">
                                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div><!--//resume-skill-item-->
                        
                        <div class="resume-skill-item">
                            <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <div class="resume-skill-name">Ruby/Rails</div>
                                    <div class="progress resume-progress">
                                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="resume-skill-name">PHP</div>
                                    <div class="progress resume-progress">
                                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="resume-skill-name">Symfony</div>
                                    <div class="progress resume-progress">
                                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div><!--//resume-skill-item-->
                        
                        <div class="resume-skill-item">
                            <h4 class="resume-skills-cat font-weight-bold">Autres</h4>
                            <ul class="list-inline">
                                <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                                <li class="list-inline-item"><span class="badge badge-light">Wordpres</span></li>
                                <li class="list-inline-item"><span class="badge badge-light">Spip</span></li>
                                <li class="list-inline-item"><span class="badge badge-light">OSM</span></li>
                                <li class="list-inline-item"><span class="badge badge-light">Stripe</span></li>
                                <li class="list-inline-item"><span class="badge badge-light">React(en cours)</span></li>
                                <li class="list-inline-item"><span class="badge badge-light">Node (en cours)</span></li>
                            </ul>
                        </div><!--//resume-skill-item-->
                    </div><!--resume-section-content-->
                </section><!--//skills-section-->
                
                <section class="resume-section language-section mb-5">
                    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
                    <div class="resume-section-content">
                        <ul class="list-unstyled resume-lang-list">
                            <li class="mb-2"><span class="resume-lang-name font-weight-bold">Anglais</span> <small class="text-muted font-weight-normal">(Moyen)</small></li>
                            <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Français</span> <small class="text-muted font-weight-normal">(Professionnel)</small></li>
                        </ul>
                    </div>
                </section><!--//language-section-->
                <section class="resume-section interests-section mb-5">
                    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Loisirs</h2>
                    <div class="resume-section-content">
                        <ul class="list-unstyled">
                            <li class="mb-1">Film</li>
                            <li class="mb-1">Animé</li>
                            <li class="mb-1">Pétanque</li>
                        </ul>
                    </div>
                </section><!--//interests-section-->
                
            </div>
        </div><!--//row-->
	</div><!--//resume-body-->
		    
		    
</div>

 