<!-- Plugins CSS -->
<%= render 'shared/portfolio_nav' %>
<div class="header-intro theme-bg-primary text-white py-5">
    <div class="container position-relative">		        
        <h2 class="page-heading mb-2">Hoomies</h2>
        <div class="page-heading-tagline">Site de vente et location immobilier</div>
    </div><!--//container-->
</div><!--//header-intro-->
    <section class="project-wrapper single-col-max-width py-5 px-4 mx-auto">
	        <div class="section-row">
		        <div class="mb-5"><img class="img-fluid" src="<%= image_url('projects/hoomies_screenshot11.png')%>" alt=""></div>
		        <h3 class="section-title">A propos</h3>
		        
		        <p>
                   Hoomies est une plateforme digital qui a pour but de relier les propriétaires de biens immobiliers et les locataires ou acheteurs sans passer par une agence immobilière. 
				   La plateforme permet à l’utilisateur de publier des biens immobiliers à vendre ou à louer. 
				   En tant que développeur mon rôle était de mettre en place le back-end du projet en utilisant ruby comme langage backend et le framework ruby on rails. 
				   Outre le back-end, j’étais en charge d’intégrer les différentes fonctionnalités en front. 
                </p>
		        
		        <div class="mb-5">
					<a class="btn btn-primary" href="https://hoomies.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt mr-2"></i> Lien vers hoomies </a>
					<a class="btn btn-primary" href="https://github.com/RDavidNH/hoomies" target="_blank"><i class="fas fa-external-link-alt mr-2"></i> Lien vers github </a>
				</div>
		        
		        
		        <div id="project-carousel" class="theme-carousel carousel slide mb-5" data-ride="carousel">
			        <ol class="carousel-indicators">
						<li data-target="#project-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#project-carousel" data-slide-to="1"></li>
						<li data-target="#project-carousel" data-slide-to="2"></li>
					</ol>
					
					<div class="carousel-inner">
						<div class="carousel-item">
						    <img class="d-block w-100" src="<%= image_url('projects/hoomies_screenshot2.png') %>" alt="">
						</div>
						<div class="carousel-item active">
						    <img class="d-block w-100" src="<%= image_url('projects/hoomies_screenshot12.png') %>" alt="">
						</div>
						<div class="carousel-item">
						    <img class="d-block w-100" src="<%= image_url('projects/hoomies_screenshot3.png') %>" alt="">
						</div>
					</div>
					
					<a class="carousel-control-prev" href="#project-carousel" role="button" data-slide="prev">
						<svg width="40px" height="40px" viewBox="0 0 150 258" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						        <g id="arrow-left" fill="#FFFFFF" fill-rule="nonzero">
						            <path d="M4.1,120.5 L121.9,4.5 C126.6,-0.2 134.2,-0.2 138.9,4.5 L146,11.6 C150.7,16.3 150.7,23.9 146,28.6 L43.7,129 L145.9,229.4 C150.6,234.1 150.6,241.7 145.9,246.4 L138.8,253.5 C134.1,258.2 126.5,258.2 121.8,253.5 L4,137.5 C-0.6,132.8 -0.6,125.2 4.1,120.5 Z" id="Shape"></path>
						        </g>
						    </g>
						</svg>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#project-carousel" role="button" data-slide="next">
						<svg width="40px" height="40px" viewBox="0 0 150 258" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						        <g id="arrow-right" fill="#FFFFFF" fill-rule="nonzero">
						            <path d="M145.9,137.5 L28.1,253.5 C23.4,258.2 15.8,258.2 11.1,253.5 L4,246.4 C-0.7,241.7 -0.7,234.1 4,229.4 L106.3,129 L4.1,28.6 C-0.6,23.9 -0.6,16.3 4.1,11.6 L11.2,4.5 C15.9,-0.2 23.5,-0.2 28.2,4.5 L146,120.5 C150.6,125.2 150.6,132.8 145.9,137.5 Z" id="Shape"></path>
						        </g>
						    </g>
						</svg>
						<span class="sr-only">Next</span>
					</a>
		        </div><!--//theme-carousel-->
		        
		        
	        </div><!--//section-row-->
	        
	        
	        <div class="section-row">
		        <h3 class="section-title">Ma mission</h3>
		        <p>
                    En collaboration avec <a href=" https://github.com/RDavidNH">Rabedaoro David N H </a> , j'ai participé à ce projet en tant que développeur fullstack ruby. Ma mission consistait à 
                </p>
		        
		       <ul class="list-unstyled pl-4 mb-5 ml-md-5">
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Concevoir la <strong>base de donnée</strong> </li>
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Mettre en place un <strong> système de connexion </strong>  (login/logout)</li>
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Créer un <strong> système de rating </strong> pour la section testimonial</li>
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Création d’un <strong> système permettant de s’inscrire </strong> sur la plateforme</li>
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Créer un <strong>système d’envoie d’émail </strong> admnistrateur vers les utilisateurs et les utilisateurs vers les propriétaires des maisons</li>
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Créer un <strong>système de connexion via facebook et google email </strong> (Authentification par facebook et émail)</li>
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Intégrer une <strong>carte de localisation dynamique</strong> de chaque quartier des maisons disponnible sur le site en utilisant OpenStreetMap</li>
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Créer le <strong> dashboard administrateur </strong> pour gérer les contenus du site</li>
				  <li class="mb-4"><i class="fas fa-check text-primary mr-3"></i> Mettre en place un <strong> système de paiement </strong> </li>
    
                </ul>
				
				<p> En 2 mois de réalisation, on a pu terminer la version alpha du projet, code source disponible via le repository github de <a href=" https://github.com/RDavidNH/hoomies">Rabedaoro David N H </a>.</p>
		        <div class="mb-5">
					<a class="btn btn-primary" href="https://hoomies.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt mr-2"></i> Lien vers hoomies </a>
					<a class="btn btn-primary" href="https://github.com/RDavidNH/hoomies" target="_blank"><i class="fas fa-external-link-alt mr-2"></i> Lien vers github </a>
				</div>
		        <h3 class="section-title">Capture d'écran du projet</h3>
                <div class="row">
					<div class="figure col-lg-4 mb-3"><a href="<%= image_url('projects/hoomies_screenshot1.png')%>" data-toggle="lightbox" data-gallery="gallery"><img class="img-fluid" src="<%= image_url('projects/hoomies_screenshot1.png')%>" alt=""></a></div>
					<div class="figure col-lg-4 mb-3"><a href="<%= image_url('projects/hoomies_screenshot6.png')%>" data-toggle="lightbox" data-gallery="gallery"><img class="img-fluid" src="<%= image_url('projects/hoomies_screenshot6.png')%>" alt=""></a></div>
					<div class="figure col-lg-4 mb-3"><a href="<%= image_url('projects/hoomies_screenshot7.png')%>" data-toggle="lightbox" data-gallery="gallery"><img class="img-fluid" src="<%= image_url('projects/hoomies_screenshot7.png')%>" alt=""></a></div>
				</div>
				<div class="row">
					<div class="figure col-lg-3 mb-3"><a href="<%= image_url('projects/hoomies_screenshot2.png')%>" data-toggle="lightbox" data-gallery="gallery"><img class="img-fluid" src="<%= image_url('projects/hoomies_screenshot2.png')%>" alt=""></a></div>
					<div class="figure col-lg-3 mb-3"><a href="<%= image_url('projects/hoomies_screenshot3.png')%>" data-toggle="lightbox" data-gallery="gallery"><img class="img-fluid" src="<%= image_url('projects/hoomies_screenshot3.png')%>" alt=""></a></div>
					<div class="figure col-lg-3 mb-3"><a href="<%= image_url('projects/hoomies_screenshot4.png')%>" data-toggle="lightbox" data-gallery="gallery"><img class="img-fluid" src="<%= image_url('projects/hoomies_screenshot4.png')%>" alt=""></a></div>
					<div class="figure col-lg-3 mb-3"><a href="<%= image_url('projects/hoomies_screenshot5.png')%>" data-toggle="lightbox" data-gallery="gallery"><img class="img-fluid" src="<%= image_url('projects/hoomies_screenshot5.png')%>" alt=""></a></div>
				</div>
	        </div><!--//section-row-->

            <div class="section-row">
	            <h3 class="section-title">Technologies utilisées</h3>
                <ul class="list-inline mb-0 mx-auto">
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> Ruby </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> PostgreSQL </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> Ruby on rails </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> Javascript </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> JQuery </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> Bootstrap </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> HTML5 </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> CSS3 </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> Stripe </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> Sass </span></li>
                    <li class="list-inline-item"><span class="badge badge-secondary badge-pill"> OpenStreetMap </span></li>

				</ul>
	            <p class="mb-4">
					Ci-dessous les différentes technologies qu'on a utilisées pendant le développement du projet Hoomies
				</p>
                
	            <div class="webdev-icons row mb-5 align-items-center">
		            
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/ruby.svg') %>"></div>
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/postgresql.svg') %>"></div>	        
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/rails.svg') %>"></div>
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/javascript.svg') %>"></div>
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/jquery-alt.svg') %>"></div>			       
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/bootstrap4.svg') %>"></div>
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/html5.svg') %>"></div>		
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/css3.svg') %>"></div>		        
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/stripe.svg') %>"></div>
			        <div class="webdev-icon col-4 col-md-2 mr-0 mb-4 px-4"><img class="img-fluid svg-ie-fix" src="<%= image_url('webdev-icons/sass.svg') %>"></div>
		        </div>
                
            </div><!--//section-row-->
            <!--
            <div class="section-row">
		        <h3 class="section-title">Conclusions</h3>
		        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
	        </div>//section-row-->

    </section><!--//project-wrapper-->
<%= render 'shared/cta'%>
<%= render 'shared/footer'%>
   