<%= content_for(:title, "Be Anjara's Project") %>
<%= render 'shared/portfolio_nav' %>
<div class="header-intro theme-bg-primary text-white py-5">
    <div class="container">
        <h2 class="page-heading mb-3"> Mes Projets </h2>
        <div class="page-heading-tagline"> Développeur junior fullstack à la recherche d'un stage ou de premier emploie, j'ai déjà participer à 3 différents projets </div>
        
    </div><!--//container-->
</div><!--//header-intro-->

<section class="section pt-5">
    <div class="container">
        <div class="text-center">
            <ul id="filters" class="filters mb-5 mx-auto pl-0">
                <li class="type active" data-filter="*">Tous</li>
                <li class="type" data-filter=".symfony">Symfony</li>
                <li class="type" data-filter=".ruby">Ruby</li>
                <li class="type" data-filter=".php">PHP</li>
                <li class="type" data-filter=".rails">Ruby on Rails</li>
                <li class="type" data-filter=".react">React</li>
            </ul><!--//filters-->
        </div>
        <%= render 'layouts/project_features'%>
    </div><!--//container-->
</section><!--//section-->
<%= render 'shared/cta'%>
<%= render 'shared/footer'%>