<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title_for_page(yield :title) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Be Anjara Houssen's Portfolio">
    <meta name="author" content="Be Anjara Houssen">
  </head>

  <body>
    <div class="site-loader"></div>
    <%= yield %>
  </body>
</html>
